# Virtual environment
env/
venv/
.venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Streamlit
.streamlit/

# FastF1 cache
cache/
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode / PyCharm / IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db